<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="../public/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="container" id="chatrooms">

  <div class="row">

    <div class="col col-lg-12">
      <h1 class="cr-title">Chat app</h1>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12">
      <div class="well">
        <img width="50" src="{{user.profilePic}}" class="img-responsive pull-left">
        <h3 class="userName">&nbsp;{{user.fullname}} &nbsp; <a href="/logout">Logout</a></h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control" autocomplete="off">
        <span class="input-group-btn">
        <button class="btn btn-success" type="button">Create Room</button>
   </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12">
      <div class="cr-roomlist">
        <ul class="list-group">
          <a href="#">
            <li class="list-group-item">NodeJS</li>
          </a>
          <a href="#">
            <li class="list-group-item">Cloud Computing</li>
          </a>
          <a href="#">
            <li class="list-group-item">MongoDB</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
